<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WriteToXMLClass.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WriteToXMLClass.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WriteToXMLClass.Settings2>
            <setting name="bankrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="interest" serializeAs="String">
                <value>0</value>
            </setting>
        </WriteToXMLClass.Settings2>
        <WriteToXMLClass.Settings1>
            <setting name="worker" serializeAs="String">
                <value>Robin</value>
            </setting>
            <setting name="salary" serializeAs="String">
                <value>80000</value>
            </setting>
        </WriteToXMLClass.Settings1>
    </userSettings>
</configuration>